<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title> Maintainence Page </title>

  </head>
  <body>


        <!-- <footer>
      <p> Copyright {{currentYear}} </p>
    </footer> -->

    <p> <h4> This site is under maintainence. We will update you soon.</h4> </p>

    {{> footer}}              <!--    referring a partial -->

  </body>
</html>
